<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>HEC-RAS模擬程式</title>
    </head>
<body>
    <h1>HEC-RAS模擬程式</h1>
    <div class="results-container">
        <img src="{% static 'fig1.png' %}?v=2" alt="Simulation Result">
    </div>
    <a href="https://5953.zeabur.app/download_png/">下載.png</a>
    <a href="https://5953.zeabur.app/download_csv/">下載.csv</a>
    <a href="https://5953.zeabur.app/upload/">返回上傳頁面</a>
</body>
</html>