<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>上傳完成，模擬中</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>HEC-RAS模擬程式</h1>
    <h2>上傳完成，正在進行模擬...</h2>
    <div class="loading-container">
        <div class="loading"></div>
    </div>
    <meta http-equiv="refresh" content="3;url=http://140.135.121.165:5555/sim/">
    <script>
        // When the page is loaded, remove the "hidden" class to trigger the fade-in animation
        document.addEventListener("DOMContentLoaded", function() {
            document.body.style.opacity = 1;
        });
    </script>
</body>

</html>

