<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>上傳HEC-RAS輸入檔</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        HINT: 各專案檔請以使用01號檔，如p01、c01<br>
        <h1>HEC-RAS模擬程式</h1>
        請上傳HEC-RAS輸入檔案：<br>
        <input type="file" name="files" multiple=""><br>
        <input type="submit" value="上傳">
    </form>
    <script>
        // When the page is loaded, remove the "hidden" class to trigger the fade-in animation
        document.addEventListener("DOMContentLoaded", function() {
            document.body.style.opacity = 1;
        });
    </script>
</body>

</html>
